@page "/GSM00100"
@inherits R_Page
@attribute [R_Page(Title = "SMTP Master", ResourceId = "_SMTPMaster")]
@inject R_ILocalizer<GSM00100FrontResources.Resources_Dummy_Class> _localizer

<R_StackLayout>
    <R_ItemLayout>
        <R_Grid @ref="@_gridRef"
                DataSource="@_gsm00100VM.SMTPList"
                Pageable
                R_ConductorSource="@_conductorRef"
                R_GridType="@R_eGridType.Navigator"
                R_ServiceGetListRecord="@Grid_R_ServiceGetListRecord" 
                Enabled="@_gsm00100VM.GridEnabled"
                Height="200px">
            <R_GridColumns>
                <R_GridTextColumn FieldName="@nameof(GetSMTPListDTO.CSMTP_ID)"
                                  HeaderText=@_localizer["_CSMTP_ID"] />
                <R_GridTextColumn FieldName="@nameof(GetSMTPListDTO.CSMTP_SERVER)"
                                  HeaderText="@_localizer["_CSMTP_SERVER"]" />
                <R_GridTextColumn FieldName="@nameof(GetSMTPListDTO.CSMTP_PORT)"
                                  HeaderText="@_localizer["_CSMTP_PORT"]" />
                <R_GridCheckBoxColumn FieldName="@nameof(GetSMTPListDTO.LSUPPORT_SSL)"
                                      HeaderText="@_localizer["_LSUPPORT_SSL"]" />
                <R_GridTextColumn FieldName="@nameof(GetSMTPListDTO.CGENERAL_EMAIL_ADDRESS)"
                                  HeaderText="@_localizer["_CGENERAL_EMAIL_ADDRESS"]" />
            </R_GridColumns>
        </R_Grid>
    </R_ItemLayout>
</R_StackLayout>

<R_StackLayout>
    <R_StackLayout Row Spacing="3">
        <h2>@_localizer["_HeaderGroupBox"]</h2>
    </R_StackLayout>

    <R_StackLayout Row>
        <R_ItemLayout col="1">
            <R_Label>@_localizer["_CSMTP_ID"]</R_Label>
        </R_ItemLayout>

        <R_ItemLayout col="4">
            <R_TextBox @bind-Value="@_gsm00100VM.Data.CSMTP_ID"
                       R_ConductorSource="@_conductorRef"
                       R_EnableAdd
                       R_EnableEdit="false"
                       CharacterCasing="R_eCharacterCasing.Upper" 
                       MaxLength="20"
                       @ref="@_textBoxSMTPId" />
        </R_ItemLayout>

        <R_ItemLayout col="1"></R_ItemLayout>

        <R_ItemLayout col="2">
            <R_Label>@_localizer["_CGENERAL_EMAIL_ADDRESS"]</R_Label>
        </R_ItemLayout>

        <R_ItemLayout col="3">
            <R_TextBox @bind-Value="@_gsm00100VM.Data.CGENERAL_EMAIL_ADDRESS"
                       R_ConductorSource="@_conductorRef"
                       R_EnableAdd
                       R_EnableEdit 
                       MaxLength="50" />
        </R_ItemLayout>
    </R_StackLayout>
    
    <R_StackLayout Row>
        <R_ItemLayout col="1">
            <R_Label>@_localizer["_CSMTP_SERVER"]</R_Label>
        </R_ItemLayout>

        <R_ItemLayout col="4">
            <R_TextBox @bind-Value="@_gsm00100VM.Data.CSMTP_SERVER"
                       R_ConductorSource="@_conductorRef"
                       R_EnableAdd
                       R_EnableEdit
                       MaxLength="50" />
        </R_ItemLayout>

        <R_ItemLayout col="1"></R_ItemLayout>

        <R_ItemLayout col="2">
            <R_Label>@_localizer["_LSUPPORT_SSL"]</R_Label>
        </R_ItemLayout>

        <R_ItemLayout col="3">
            <R_CheckBox @bind-Value="@_gsm00100VM.Data.LSUPPORT_SSL"
                        R_ConductorSource="@_conductorRef"
                        R_EnableAdd
                        R_EnableEdit />
        </R_ItemLayout>
    </R_StackLayout>

    <R_StackLayout Row>
        <R_ItemLayout col="1">
            <R_Label>@_localizer["_CSMTP_PORT"]</R_Label>
        </R_ItemLayout>

        <R_ItemLayout col="4">
            <R_TextBox @bind-Value="@_gsm00100VM.Data.CSMTP_PORT"
                       R_ConductorSource="@_conductorRef"
                       R_EnableAdd
                       R_EnableEdit
                       MaxLength="10" />
        </R_ItemLayout>

        <R_ItemLayout col="1"></R_ItemLayout>

        <R_ItemLayout col="2">
            <R_Label>@_localizer["_API"]</R_Label>
        </R_ItemLayout>

        <R_ItemLayout col="3">
            <R_CheckBox @bind-Value="@_gsm00100VM.Data.LAPI"
                        R_ConductorSource="@_conductorRef"
                        R_EnableAdd
                        R_EnableEdit />
        </R_ItemLayout>
    </R_StackLayout>

    <R_StackLayout Row>
        <R_ItemLayout col="1">
            <R_Label>@_localizer["_Created"]</R_Label>
        </R_ItemLayout>

        <R_ItemLayout col="1">
            <R_TextBox @bind-Value="@_gsm00100VM.Data.CCREATE_BY"
                       R_ConductorSource="@_conductorRef"
                       Enabled="false" />
        </R_ItemLayout>

        <R_ItemLayout col="3">
            <R_DateTimePicker @bind-Value="@_gsm00100VM.Data.DCREATE_DATE"
                              R_ConductorSource="@_conductorRef"
                              Enabled="false" />
        </R_ItemLayout>

        <R_ItemLayout col="1"></R_ItemLayout>

        <R_ItemLayout col="4">
            <R_StackLayout Row>
                <R_ItemLayout col="6">
                    <R_Popup R_ConductorSource="@_conductorRef"
                             R_EnableAdd
                             R_EnableEdit
                             R_Before_Open_Popup="@R_Before_Open_Popup"
                             R_After_Open_Popup="@R_After_Open_Popup">
                             @_localizer["_EditCredential"]
                         </R_Popup>
                </R_ItemLayout>

                <R_ItemLayout col="6">
                    <R_Popup R_ConductorSource="@_conductorRef"
                                R_EnableOther
                                R_Before_Open_Popup="@R_Before_Open_Popup_Test_Send_Email"
                                R_After_Open_Popup="@R_After_Open_Popup_Test_Send_Email">
                                @_localizer["_TestSendEmail"]
                                </R_Popup>
                </R_ItemLayout>
            </R_StackLayout>
        </R_ItemLayout>
    </R_StackLayout>

    <R_StackLayout Row>
        <R_ItemLayout col="1">
            <R_Label>@_localizer["_Updated"]</R_Label>
        </R_ItemLayout>

        <R_ItemLayout col="1">
            <R_TextBox @bind-Value="@_gsm00100VM.Data.CUPDATE_BY"
                       R_ConductorSource="@_conductorRef"
                       Enabled="false" />
        </R_ItemLayout>

        <R_ItemLayout col="3">
            <R_DateTimePicker @bind-Value="@_gsm00100VM.Data.DUPDATE_DATE"
                              R_ConductorSource="@_conductorRef"
                              Enabled="false" />
        </R_ItemLayout>

        <R_ItemLayout col="1"></R_ItemLayout>
    </R_StackLayout>

    <R_StackLayout Row>
        <R_AddButton R_Conductor="@_conductorRef"></R_AddButton>
        <R_EditButton R_Conductor="@_conductorRef"></R_EditButton>
        <R_DeleteButton R_Conductor="@_conductorRef"></R_DeleteButton>
        <R_SaveButton R_Conductor="@_conductorRef"></R_SaveButton>
        <R_CancelButton R_Conductor="@_conductorRef"></R_CancelButton>
    </R_StackLayout>
</R_StackLayout>

<R_Conductor @ref="@_conductorRef" 
             R_IsHeader 
             R_AfterAdd="@Conductor_R_AfterAdd" 
             R_ServiceGetRecord="@Conductor_R_ServiceGetRecord" 
             R_BeforeDelete="@Conductor_R_BeforeDelete" 
             R_ServiceDelete="@Conductor_R_ServiceDelete" 
             R_AfterDelete="@Conductor_R_AfterDelete" 
             R_Validation="@Conductor_R_Validation" 
             R_Saving="@Conductor_R_Saving" 
             R_ServiceSave="@Conductor_R_ServiceSave" 
             R_SetOther="@Conductor_R_SetOther"
             R_ViewModel="@_gsm00100VM"></R_Conductor>